
@{
    ViewBag.Title = "ExSeven";
}

<h2>ExSeven</h2>

<div>
    @using (Html.BeginForm("GenerateFields", "Bhavya", FormMethod.Post))
    {
        <div>
            <input type="submit" class="btn btn-primary" value="Create TextBox" />
        </div>

        <div>
            @ViewBag.DynamicFieldCount
            @for (var i = 0; i < (ViewBag.DynamicFieldCount ?? 0); i++)
            {
                <input type="text" name="dynamicField" placeholder="dynamicField"  /><br />
            }

        </div>
    }
    <div class="text-primary"><b>Data:</b> @ViewBag.Data</div>
</div>