
@{
    ViewBag.Title = "ExTwo";
}

<h2 style="background-color:@ViewBag.BgColor">Colour Changer</h2>


<input class="form-control" placeholder="Enter Colour Code" />
<button class="btn btn-primary">Change Colour</button>

